*{margin:0;padding:0;}
#app, body, html {
  height: 100%;
}
body, html {
  margin: 0;
  padding: 0;
}
body{
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  overflow: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
a{text-decoration: none}
.toolbar {
  background: #f2f2f2;
  padding: 10px;
  margin: 10px 0px;
}
.toolbar .el-form {
  display: inline-block;
  float: right;
}
.toolbar .el-form-item {
  margin-bottom: 0px;
}

